body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}



.category {
    justify-content: space-evenly;
    display: table-cell;
    padding: 12px;
    
    
  }


.category p{
display: flex;
margin: 12px;
}

.category a {
color: cyan;
  
}
.box{
    width: 200px;
    height: inherit;
    border: 1px solid black;
}
